<%= content_for :title, "Home" %>
<div  class="row">
	<div class="small-12 medium-8 large-8 columns small-centered">
	<header id="title">
		<h1>Firelog</h1>
			<h4>Tracking My Burn Rate</h4>
	</header>
		<div id="home-message" class="small-12 medium-8 large-8 columns medium-centered large-centered ">
			
		</div>

	</div>
</div>