#new-budget-button {
  border-radius: 45px;
  background-color: black;
}
#budget-form {
  display: none;
}
#budget-item-form {
  display: none;
}
#new-budget-item-button {
  border-radius: 45px;
  background-color: black;
}