$successGreen: #48AB6C;
.add-category-button {
    margin-right: 10px;
	font-size: 2em;
	display: inline;
	text-align: center;
	-moz-border-radius: 35px/35px;
    -webkit-border-radius: 35px 35px;
    border-radius: 35px/35px; 
    width:35px;
    height:35px;
    display: inline-block;
    border: 2px solid $successGreen;
    // background: $successGreen;
    color: $successGreen;
    float: left;
    clear: all;
    
    a {
    	color: $successGreen;
    }
		span.subtext {
			font-size: .5em !important;
		}
		line-height: .80em;
  }
#add-expense {
	margin-top: 2%;
}

.category-button {
    background: #D2D2D2;
    -moz-border-radius: 40px/40px;
    -webkit-border-radius: 40px 40px;
    border-radius: 40px/40px;
    padding: 5px 15px; 
    float: left;
    margin-right: 10px;
    a {
        color: black;
    }
    margin-bottom: 10px;
}

#category-buttons {
    display: relative;
    display: block;
    overflow: hidden;
    min-height: 65px;
}
.unselected {
    display: none;
}
span.hidden-id {
    display: none;
}

#add-comment {
    display: none;
}
// category form
#category-form {
    background: white;
    padding: 0px;
    width: 350px;
    float: left;
    margin: 0;
    display: none;
    margin-top: -170px;
    margin-left: 15px;
    position: absolute;
    margin-bottom: 0;
}
#add-cat {
    margin-top: -36px;
    margin-left: 314px;
    position: absolute;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 2em;
    display: inline;
    text-align: center;
    -moz-border-radius: 35px/35px;
    -webkit-border-radius: 35px 35px;
    border-radius: 35px/35px; 
    width:35px;
    height:35px;
    display: inline-block;
    // border: 2px solid $successGreen;
    // color: black;
    // background: #D2D2D2;
    // font-weight: 700;
    line-height: .60em;
    font-size: .7em;
}
input#category-input {
    moz-border-radius: 40px/40px;
    -webkit-border-radius: 40px 40px;
    border-radius: 40px/40px;
    display: block;
    margin-bottom: 0;
}
#vendor-buttons {
}

// display expenses

#expenses-list {

}
.expense {
    font-size: .75em;
}
.expense-amount {
    text-align: right;
}
.delete-expense {
    color: red;
    a {
        color: red;
    }
}
// display months
li.months {
    list-style: none;
    background: #D2D2D2;
    -moz-border-radius: 40px/40px;
    -webkit-border-radius: 40px 40px;
    border-radius: 40px/40px;
    padding: 5px 15px; 
    float: left;
    margin-right: 10px;
    a {
        color: black;
    }
    margin-bottom: 10px;
}
.selected-month {
    background-color: #4b4b4b !important;
    a {
    color: white !important;
    }
}

#month-header {
    font-weight: bold;
}

