.wish-item {
  border: 1px solid #F1F3F4;
  padding: 10px 20px !important;
  margin-bottom: 10px !important;
}
div.wish-item:hover {
  background-color: #F1F3F4;
}
#expenditure-form {
  display: none;
}
#expenditures {
  padding-left: 10px;
  padding-right: 10px;
}
#new-expenditure-button {
  border-radius: 45px;
  background-color: black;
}