$aqua: #07c5ff;
$grayLighter: #e1e1e1;
$grayLight: #696969;
$primary-color: #008CBA;

.top-bar.expanded {
  background-color: #333333;
}

#new-incident-form {
	h2, h3 {
		text-align: center;
	}
  h4 {
    color: #333;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
  }
	.button {
		width: 100%;
		// background-color: #59d349;
	}
  .columns {
    padding-left:5px;
    padding-right:5px;
  }
  p {
     color: #BBBBBB;
     text-align: justified;
  }
  .button {
    margin-top: 50px;
  }
}

#observation-form {
  display: none;
  .button {
    width: 100%;
  }
}

#new_note {
  display: none;
}

// Request Index
#request-index {
  margin-top: 5%;
  h4 {
    text-align: center;
    font-weight: bold;
  }
}
.request {
  border: 1px solid $aqua;
  -moz-border-radius: .5em/.5em;
  -webkit-border-radius: .5em .5em;
  border-radius: .5em/.5em;
  padding: 2%;
  margin-bottom: 10px;
  .date {
    float: right;
  }
}
.request:hover {
  background-color: $aqua;
  h5 {
  color: white !important;
  }
}

// visitors#index
#welcome-page {
  min-height: 450px;
  h3,h4 {
  color: #a0a0a0;
  }
}
#home-message {
  text-align: center;
  margin: 35px auto 15% auto;
  p {
  color: #a0a0a0;
  }
  h3,h4 {
  text-align: justify;
  margin-bottom: 1.25em;
    // color: #a0a0a0;
  }
}
#access-message {
  p {
  text-align: justify;
  color: #a0a0a0;
  }
  h3,h4 {
    color: #46b3e8;
  }
}
.button-group {
  margin: 0 auto;
  text-align: center;

} 

.face-avatar {
  -moz-border-radius: 8em/8em;
  -webkit-border-radius: 8em 8em;
  border-radius: 8em/8em; 
  width:8em;
  height:8em; 
  overflow: hidden;  
  margin-bottom: 0;
  border: 2px solid $aqua;
  margin: 0 auto;
  img {
  	width: 100%;
  	height: auto;
    min-height: 8em;
    min-width: 8em;
  }
  h4 {
  	margin-top: 3.5em;
  	width: 4em;
  	font-weight: bold;
  	color: $aqua;
  	margin-left: 1em;
  	text-align: center;
  	position: absolute;
  	z-index: 2;
  	bottom: 17%;
  	left: 2%;
  }

}
.show-avatar {
  -moz-border-radius: 11em/11em;
  -webkit-border-radius: 11em 11em;
  border-radius: 11em/11em; 
  width:11em;
  height:11em; 
  overflow: hidden;  
  margin-bottom: 0;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    min-height: 11em;
    min-width: 11em;
  }
}
.index-avatar {
  text-align: center;
  -moz-border-radius: 5em/5em;
  -webkit-border-radius: 5em 5em;
  border-radius: 5em/5em; 
  width:5em;
  height:5em; 
  overflow: hidden;  
  margin-bottom: 0;
  margin: 0 auto;
  float: left;
  margin-left: 0;
  margin-right: 2%;
  margin-bottom: 4%;
  img {
    width: 100%;
    height: auto;
    min-height: 5em;
    min-width: 5em;
  }
}

.wide-button {
  margin: 25px auto 50px auto;
  text-align: center;
  width: 100%;
}

.title-area {
  li.name {
    a {
    color: #fe4880;
    }
  }
}

.form-fields {
  margin-top: 10px;
}
h4#add-text {
  position: absolute;
  margin-left: 10px;
}

a.selected {
  color: #a0a0a0;
  text-decoration: underline;
}
#directory {
  text-align: center;
  li {
    list-style: none;
  }
}
.digg_pagination {
  background: transparent;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: $aqua;
    color: white;
    border: 1px solid $aqua;
  }
  a {
    text-decoration: none;
    color: $aqua;
    border: 1px solid $aqua;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: $aqua + 60;
      padding: 0.1em 0.25em;
    }
  }
  // self-clearing method:
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & {
    height: 1%;
  }
  *:first-child+html & {
    overflow: hidden;
  }
}
.pagination {
  margin: 0 auto;
  text-align: center !important;
  margin-bottom: 25px;
}
#choices {
  text-align: center;
  margin: 0 auto;
  ul {
    padding: 0;
    margin-left: 0;
  }
  li {
    position: relative;
    a {
      color: #222
    }
    list-style: none;
    h5 {
    // padding: 3px 20px;
    }
  }
}
.light-head {
  color: #E1E1E1;
  margin-bottom: 20px;
}
.correct {
  color: #43ac6a;
}
.icon {
  display: inline;
  margin-left: -25px;
  position: absolute;
  display: none;
}
.transparent {
  color: white !important;
}
.wrong {
  color: red !important;
}
#inviteform {
  .button {
    width: 100% !important;
    // background-color: #59d349;
  }
}

// error messages
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    background-color: #f2dede;
    padding: 20px;
    color: red;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
}
#flash_alert {
  background-color: #f2dede;
    padding: 20px;
    color: red;
    margin-top: 10px;
    margin-bottom: 5px;
}
.alert-error {
  background-color: #f2dede;
  padding: 20px;
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
}.alert-alert {
  background-color: #f2dede;
  padding: 20px;
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
}
.alert-success {
  background-color: #dff0d8;
  padding: 20px;
  margin-top: 10px;
  color: #79a37e;
}
.alert-notice {
  background-color: #fcf8e3;
  padding: 20px;
  margin-top: 10px;
  color: #79a37e;
}
#title {
  text-align: center;
  margin: 75px auto 5% auto;
  clear: both;
  h1 {
   color: #fd2940;
    font-weight: bolder;
  }
}

#search-form {
  margin-top: 2%;
  text-align: center;
  i {
    // font-weight: bold;
    font-size: 1.3em;
  }
}
i#search-icon {
  color: #CCCCCC;
  position: absolute;
  font-size: 1.5em;
  top: 6px;
  font-weight: bold;
  right: 23px;
}

#show-request {
  margin-top: 5%;
  #date {
    margin-top: -10px;
    // color: #
  }
  .small-text {
    font-size: .85rem;
    color: #696969;
  }
  .button {
    margin-top: 3%;
    width: 100%;
  }
}
.obs {
  h6 {
    font-weight: bold;
    text-align: center;
  }
}
table.observation {
  width: 100%;
  th {
    padding: 0 0 0 5px;
    font-size: .55rem;
    text-align: center;
  }
  td {
    font-size: .75rem;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }
}
#edit-icon {
  float: right;
  margin: 1% 1% 0 0;

}
.delete-box {
  background-color: red;
  position: absolute;
  right: 0;
}
.edit-obs {
  background-color: $primary-color;
  position: absolute;
  right: 50px;
}
.delete-obs {
  background-color: red;
  position: absolute;
  right: 0;
  padding-right: 7px;
  width: 50px;
  color: white;
  display: none;
  a {
    color: white;
  }
}
#sitl-button {
  margin-top: 50px;
}
.hidden {
  display: none;
}

